@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-pink: #c5227b;
  --color-brand-orange: #eda913;
  --color-brand-mint: #52b49b;
  --color-brand-yellow: #f3e939;
  --color-brand-cream: #fffcf9;
  --color-brand-black: #000000;
}
